@page
@model CoreOne.Pages.Restaurants.ListModel
@{
    ViewData["Title"] = "Hola";
}

<h1>Restauants</h1>

<form method="get">
    <div class="form-group">
        <div class="input-group">
            <input type="text" class="form-control"
                   asp-for="SearchTerm" />
            <span class="input-group-btn">
                <button class="btn btn-default">
                    <i class="glyphicon glyphicon-search"></i>
                </button>
            </span>
        </div>
    </div>
</form>


@*<table class="table">
        @foreach (var restaunrant in Model.Restaurantses)
        {
            <tr>
                <td>
                    @restaunrant.Name
                </td>
                <td>
                    @restaunrant.Location
                </td>
                <td>
                    @restaunrant.Cuisine
                </td>
                <td>
                    <a class="btn btn-lg"
                       asp-page="./Detail" asp-route-restaurantId="@restaunrant.Id">
                        <i class="glyphicon glyphicon-zoom-in"></i>
                    </a>
                    <a class="btn btn-lg"
                       asp-page="./Edit" asp-route-restaurantId="@restaunrant.Id">
                        <i class="glyphicon glyphicon-edit"></i>
                    </a>
                    <a class="btn btn-lg"
                       asp-page="./Delete" asp-route-restaurantId="@restaunrant.Id">
                        <i class="glyphicon glyphicon-trash"></i>
                    </a>
                </td>
            </tr>
        }
    </table>*@

@foreach (var rest in Model.Restaurantses)
{
    <partial name="_Summary" model="rest" />
}

<a asp-page="./Edit" class="btn btn-primary">Add new</a>
<div>@Model.Message</div>
